<h3> Modelo de produto: <%= @product_model.name %> </h3>
<%= link_to 'Editar', edit_product_model_path(@product_model)%>
<div>
<strong>Peso:</strong> <%= @product_model.weight%>g<br>
<strong>Dimensão:</strong> <%= @product_model.height %>cm x <%= @product_model.width%>cm x <%= @product_model.depth %>cm <br>
<strong>Código de identificação: </strong><%= @product_model.sku %><br>
<strong>Fornecedor: </strong><%= @product_model.supplier.brand_name%><br>
</div>