<section id="warehouses">
    <hr>
    <h3> Galpões </h3>
    <div>
        <%= link_to 'Cadastrar Galpão', new_warehouse_path %>
    </div>
    <% @warehouses.each do |w|%>
        <div>
            <h3><%= link_to w.name, warehouse_path(w.id)%></h3><br>
            <strong>Código: </strong><%= w.code %><br>
            <strong>Cidade: </strong><%= w.city %><br>
            <strong>Área: </strong><%= w.area %><br>
        </div>
    <% end %>

    <% if @warehouses.empty? %>
        <p>Não existem galpões cadastrados</p>
    <% end %>
</section>