<h1>Resultados da Busca por: <%= @code %></h1>

<p><%= @orders.count %> <%= Order.model_name.human(count: @orders.count).downcase %> <%= I18n.t(:found, count: @orders.count)%></p><br/>
<% @orders.each do |order| %>
    <strong><%= Order.human_attribute_name(:code) %>:</strong> <%= order.code %><br/>
    <strong><%= Order.human_attribute_name(:warehouse_id) %>:</strong> <%= order.warehouse.full_description %><br/>
    <strong><%= Order.human_attribute_name(:supplier_id) %>:</strong> <%= order.supplier.corporate_name %><br/>
<% end %>