<!DOCTYPE html>
<html class='m-4'>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1> Galpões & Estoque </h1>
      <nav>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Fornecedores', suppliers_path %> |
        <%= link_to 'Modelos de Produtos', product_models_path %> |
        <%= link_to 'Registrar Pedido', new_order_path %> |
        <% if user_signed_in? %>
          <%= current_user.full_description %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
        <hr>
      </nav>
    </header>
    <main>
      <div>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
